<!doctype html>
<html lang="en">


<head>

  {{!-- preloader --}}
      <script>
        window.onload = (event) => {
            document.getElementById('preloader').style.display = 'none'
            console.log('page is fully loaded');
        };

    </script>
  <style>
      .blank {
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            z-index: 3;
            background-color: #fff;
        }
    </style>

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="theme-color" content="#149fff">
  <meta name="google-site-verification" content="jJtw40VLTEcIFoV5cyyjsN1HbqU7fXXMlTJ39z9mm5o" />
  <title>Studocu</title>
  <!-- Search Engine -->
  <meta name="description" content="{{blogdisc}}">
  <meta name="image" content="/images/logo.png">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{blogname}}">
  <meta itemprop="description" content="{{blogdisc}}">
  <meta itemprop="image" content="/images/logo.png">
  <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
  <meta property="og:title" content="{{blogname}}">
  <meta property="og:description" content="{{blogdisc}}">
  <meta property="og:image" content="/images/logo.png">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="Studocu">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="{{blogname}}">
  <meta property="twitter:description" content="{{blogdisc}}">
  <meta property="twitter:image:src" content="/images/logo.png">

  <link rel="stylesheet" href="/src/master.css">
  {{!--
  <link rel="manifest" href="/manifest.json"> --}}
  <link rel="apple-touch-icon" href="/images/logo.png">
  <script src="/src/index.js"></script>

  <!-- Search Engine -->
  <meta name="description" content="{{blogname}}">
  <meta name="image" content="/images/logo.png">
  {{!-- adsbygoogle --}}
  <script data-ad-client="ca-pub-1044322610224848" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script src="https://cdn.tiny.cloud/1/fuxvme8sx24ud1p0ivum0nqhuioq857oivxe0clxix9p22ek/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <!-- Bootstrap CSS -->

  <link rel="icon" type="png" href="/images\logo.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Global site tag (gtag.js) - Google Analytics -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1K6WHN6JM0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1K6WHN6JM0');
</script>



</head>

<body>

  <div id="preloader">
            <div class="blank">
                <img src="https://htmlburger.com/blog/wp-content/uploads/2021/07/The-Best-50-Website-Preloaders-Around-the-Web-Example-07.gif"
                    alt="">
            </div>
        </div>

  {{!-- {{>navbar}} --}}
<script type="text/javascript">
	atOptions = {
		'key' : 'a3276b0e586591e75b6217d2e292ce43',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://pugdisguise.com/a3276b0e586591e75b6217d2e292ce43/invoke.js"></scr' + 'ipt>');
</script>

  {{{body}}}

<script type="text/javascript">
	atOptions = {
		'key' : 'a3276b0e586591e75b6217d2e292ce43',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://pugdisguise.com/a3276b0e586591e75b6217d2e292ce43/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : 'a3276b0e586591e75b6217d2e292ce43',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://pugdisguise.com/a3276b0e586591e75b6217d2e292ce43/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : 'a3276b0e586591e75b6217d2e292ce43',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://pugdisguise.com/a3276b0e586591e75b6217d2e292ce43/invoke.js"></scr' + 'ipt>');
</script>
<script type="text/javascript">
	atOptions = {
		'key' : 'a3276b0e586591e75b6217d2e292ce43',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://pugdisguise.com/a3276b0e586591e75b6217d2e292ce43/invoke.js"></scr' + 'ipt>');
</script>


  <div style="padding-top:60px;">

    {{>footer}}
    
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>


    {{!-- ads --}}

</body>

</html>


<style>
  .center {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 10px;
  }

  .navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
  }

  .navbar-toggler {
    z-index: 1;
  }


  .navbar-nav {
    z-index: 1;
  }

  .nav-link {
    font-family: sans-serif;
    font-weight: 600;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    background:
      rgba(20, 159, 255, 1);
  }

  .navbar-brand {
    font-weight: 600;
  }
</style>